<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Proyecto_Integrador_JS</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../Styles/Globals.css">
  <link rel="stylesheet" href="../Styles/Contact.css">

</head>

<body>
  
  <header></header>
  
  <main>
    <div class="sobreNosotros">
      <div class="desarrollo">
        <h2 class="title">Sobre nosotros</h2>
        <p class="description">Somos un empresa dedicada al desarrollo de servicios dígitales con el fin de potenciar
          tu negocio con las tecnologias mas innovadoras del mercado y un gran equipo de desarrollo trabajando detras
          en cada detalle.</p>
          <h2 class="title">Desarrollo</h2>
          <p class="description">En esta oportunidad les traemos un prototipo de E-commerce realizado en lenguajes
            HTML5, CSS3 (nativo) y JavaScript. Logos y diseños realizados en Canva, prototipo realizado en Figma <a
            href="https://www.figma.com/file/onGOBtohpU6jUFCbjEUQhL/DigitalStore?node-id=0%3A1">Visita el sitio</a>
          </p>
        </div>
        <div class="div-imagen">
          <img class="redVirtual" src="../Images/Logos/logoRedvirtual.png" alt="Imagen redVirtual">
        </div>
      </div>
      
      <div class="div-contact">
        <h2 class="title2">Contactanos</h2>
        <form class="form-contacto">
          <div class="container-slogan">
            <h3>¿Te gusto alguno de nuestros productos?</h3>
            <h4 style="text-align: center;">No dudes en contactanos</h4>
          </div>
          <div class="contenedor-inputs">
            <label for="Nombre" class="width" >Nombre
              <input type="text" class="form-is width input-nombre" required>
            </label>
            <label for="E-Mail" class="width">E-Mail
              
              <input class="form-is width input-email" type="email" name="mail" id="mail" required>
            </label>
            <label for="Mensaje" class="width">Mensaje
              <textarea  class="textarea-mjs width input-mensaje" type="text" required></textarea>
            </label>
            <button class="buttonIS form-is">Enviar</button>
          </div>
        </form>
      </div>
      <div style="height: 5rem;"></div>
    </main>
    
    <footer>
    </footer>
    
    <script src="../Scripts/contacto.js"></script>
    <script src="../Scripts/script.js"></script>
  </body>
  
  </html>