<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Proyecto_Integrador_JS</title>
  <link rel="stylesheet" href="../Styles/Globals.css">
  <link rel="stylesheet" href="../Styles/Home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" 
    />
    <script src="../Scripts/script.js"></script>
    <script src="../DataBase/addLocalStorage.js"></script>
</head>

<header>
</header>

<main>
  <img class="imgbanner" src="../Images/Logos/banner.png" alt="banner" />
  <div class="cards">
    <div class="cardAuriculares">
      <h1>Auriculares</h1>
        <img class="imghome" src="../Images/Logos/logo_auriculares.jpg" alt="logo_auriculares" />
    </div>
    <div class="cardCargadores">
      <h1>Cargadores</h1>
      <img class="imghome" src="../Images/Logos/logo_cargadores.jpg" alt="logo_cargadores" />
    </div>
    <div class="cardConectores">
      <h1>Conectores</h1>
      <img class="imghome" src="../Images/Logos/logo_conectores.png" alt="" />
    </div>
  </div>

  <div class="cardsLayout--cards"></div>

  <div style="height: 5rem;"></div>
</main>

<footer></footer>
<script></script>
</body>

</html>