@import "./Globals.css";

.imgbanner {
    width: 100%;
}
.cards {
    margin: 2rem 0;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--secondary-color);
} 
.cardCargadores, .cardConectores, .cardAuriculares{
    text-align: center;
    width: 20rem;
    height: 20rem;
    border-radius: 8px;
    box-shadow: var(--main-box-shadow);
    overflow: hidden;
    transition: all 0.25%;    
    transition-duration: 500ms;
    background-color: var(--main-bg-color);
    background-image: url("../Images/Logos/fondoimgfiltro.png");
    cursor: pointer;
}
.cardCargadores:hover, .cardConectores:hover, .cardAuriculares:hover {
    transform: translate(0,-15px);
    box-shadow: 0 12px 16px rgba(0 , 0 , 0 , 0.2);
}

.cardCargadores h1, .cardConectores h1, .cardAuriculares h1{
    padding-top: 1rem;
}

.imghome {
    height: 15rem;
    width: 15rem; 
}


.cardProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    box-shadow: var(--secondary-box-shadow);
    background-color: white;
    border-radius: 1rem;
    max-width: 100%;
    transition-duration: 500ms;
    box-shadow: 0 12px 16px rgba(0 , 0 , 0 , 0.2);
    background-image: url("../Images/Logos/fondoimg.png");
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    
  }
  .cardProduct:hover {
    transform: translate(0,-15px);
    box-shadow: 0 12px 16px rgba(0 , 0 , 0 , 0.2);
  }
  
  .cards--img {
    background: no-repeat inherit;
    background-position: center;
    background-size: cover;
    max-width: 10rem;
    min-width: 10rem;
    transition: 0.5s;
  }
  
  .cardsContainer--cards-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 1rem;
    gap: 0.5rem;
    width: 100%;
  }

  .cardProduct .botonera{
    display: flex;
    justify-content: space-between;
  }
  
  .cardsLayout--cards {
    padding: 0rem 6rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    column-gap: 3rem;
    row-gap: 1.5rem;
    margin-top: 2rem;
  }
  .titulo {
    font-weight: 900;
    font-size: 1.5rem;
  }
  .descripcion {
    font-size: 0.8rem;
  }
  .colores {
    font-size: 0.9rem;
  }
  .precio {
    color: var(--primary-color);
    font-size: 2rem;
  }




/*carrito*/
.cart {
  position: absolute;
  top: 65px;
  right: 0;
  padding: 50px 30px;
  background: linear-gradient(to top, #121e3c, var(--background));
  border-left: 1px solid var(--nav-bg);
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100vh - 65px);
  overflow-y: scroll;
  z-index: 2;
  min-width: 375px;
  transform: translate(200%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/*OCULTAR BARRA DE SCROLL DEL CARRITO*/

.cart::-webkit-scrollbar {
  display: none;
}

.cart h2 {
  color: var(--text-white);
  font-size: 20px;
  font-weight: 600;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #2323234e;
  padding: 20px;
  border: 1px solid var(--electric);
  border-radius: 10px;
}

.cart-item img {
  height: 65px;
  width: 65px;
}

.item-info {
  display: flex;
  flex-direction: column;
  min-width: 110px;
}

.item-title {
  color: var(--text-white);
  font-weight: 600;
  font-size: 14px;
}

.item-bid {
  color: var(--text-gray);
  font-weight: 300;
  font-size: 12px;
}

.item-price {
  background: linear-gradient(to right, #30cfd0, #c43ad6);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  font-size: 16px;
  font-weight: 800;
}

.item-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.quantity-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  border-radius: 5px;
  color: var(--text-white);
  font-weight: 400;
}

.item-quantity {
  color: var(--text-gray);
}

.up {
  border: 1px solid var(--electric);
}

.down {
  background-color: var(--secondary);
  border: 1px solid var(--electric);
}

.divider {
  margin-top: 20px;
  border: 0.5px solid var(--electric);
  width: 100%;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.cart-total p {
  color: var(--text-white);
  font-weight: 700;
}

.cart-total span {
  color: var(--text-white);
  font-weight: 400;
  font-size: 18px;
}

/* SOY RODRI DEL PASADO MARCANDO EL OPEN-CART */

/*Toggle del carro*/
.open-cart {
  transform: translate(0%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.empty-msg {
  color: var(--text-gray);
  font-size: 14px;
}